Source: gmnd
Section: net
Priority: optional
Maintainer: Micke Nordin <hej@mic.ke>
Build-Depends: debhelper (>=10)
Standards-Version: 4.0.0
Homepage: https://github.com/mickenordin/gmnd
X-Python3-Version: >= 3.X

Package: gmnd
Section: net
Priority: optional
Architecture: all
Depends: python3-yaml 
Essential: no
Description: gMNd is a gemini server with support for serving static files,
     or run cgi-scripts.
